@model OutOfTheBoxMvc.Models.CompetitorsViewModel

@{
    ViewBag.Title = "Competitors";
}


<div class="well">
    <h4>Todays Match Competitors</h4>
</div>
<Div class="container">
    <Div class="row">
        <Div class="col-xs-3">
            <label>
                @Html.DisplayNameFor(model => model.Match.Stages.First().StageName)
            </label>
        </Div>
        <Div class="col-xs-2">
            <label>
                @Html.DisplayNameFor(model => model.Match.Stages.First().IsVirginia)
            </label>
        </Div>
        <Div class="col-xs-2">
            <label>
                @Html.DisplayNameFor(model => model.Match.Stages.First().NumberOfStrings)
            </label>
        </Div>
        <Div class="col-xs-5">
            <label>
                @Html.DisplayNameFor(model => model.Match.Stages.First().Designer_Id)
            </label>
        </Div>

    </Div>

    @for (int i = 0; i < @Model.Match.Stages.Count; i++)
    {

        <Div class="row">
            <Div class="col-xs-3">
                @Model.Match.Stages.ToList()[i].StageName
            </Div>
            <Div class="col-xs-2">
                @(@Model.Match.Stages.ToList()[i].IsVirginia ? "Virginia" : "Comstock")
            </Div>
            <Div class="col-xs-2">
                @Model.Match.Stages.ToList()[i].NumberOfStrings
            </Div>
            <div class="col-xs-5">
                @Model.MembersList.FirstOrDefault(st => st.Value.Equals(@Model.Match.Stages.ToList()[i].Designer_Id.ToString())).Text
            </div>

        </Div>
    }


</Div>
<br/>




<p>
    @Html.ActionLink("Add Competitor", "Create",  new {matchId = Model.Match.Id}, new {@class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            Competitor
        </th>
        <th>
            Caliber
        </th>
        <th>
            Magazine Capacity
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Competitors) {
    <tr>
        <td>
            @Model.MembersList.FirstOrDefault(st => st.Value.Equals(item.Member_Id.ToString())).Text
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caliber.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagazineCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
